<header class="wrapper row full-center">
  <a routerLink="/">
    <img src="assets/images/oc-logo.svg" alt="Logo image" class="logo" />
  </a>
  <div class="auth-links" *ngIf="!authService.currentUserSig(); else loggedIn">
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </div>
  <ng-template #loggedIn>
    <div class="auth-links right-side">
      <span (click)="logout()">Logout</span>
      <a routerLink="/admin">Users</a>
    </div>
  </ng-template>
</header>
