<app-header></app-header>
<div>
  <div *ngIf="users.length > 0">
    <h2>All Users</h2>
    <ul>
      <li *ngFor="let user of users" class="user-item row gap-1">
        <span>{{ user.email }}</span>
        <div class="row gap-05">
          <button
            type="button"
            pButton
            icon="pi pi-trash"
            (click)="deleteUser(user.uid)"
            label="Delete"
            class="p-button-danger"
          ></button>
          <button
            type="button"
            pButton
            icon="pi pi-user-plus"
            (click)="setAsAdmin(user.uid)"
            label="Set as Admin"
            class="p-button-success"
          ></button>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="users.length === 0">
    <p>No users found</p>
  </div>
</div>
